#grid {
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: rgb(118, 113, 122);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 10);
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell-81 {
  width: calc(100% / 9);
}

.cell-49 {
  width: calc(100% / 7);
}

.azure {
  background-color: #0668fc;
}

.red {
  background-color: #ff0000;
}
